.section {
    padding-left: 100px;
    padding-right: 100px;

    .section-title {
        font-weight: 700;
        font-family: Montserrat;
        font-size: 60px;
    }

    .section-subtitle {
        font-size: 29px;
        font-family: Montserrat;
    }

    .section-text {
        font-size: 15px;
        line-height: 28px;
    }

    strong {
        font-weight: 700;
    }
}