.section-title {
    font-size: 60px;
    font-weight: 700;
    font-family: Montserrat;
}

.section-subtitle {
    font-size: 29px;
    font-family: Montserrat;
}

.section-text {
    font-size: 15px;
    line-height: 28px;
}

strong {
    font-weight: 700;
}