.topbar {
    display: flex;
    align-items: center;
    top: 0px;
    position: fixed;
    height: 80px;
    z-index: 12;
    width: 100%;
    box-shadow: 0px 3px 6px $color-accent-100;
    background-color: #ffffff;

    .topbar-item {
        font-family: Lato;
        font-size: 18px;
        font-weight: 600;
        color: $color-accent-300;
        transition: 375ms;

        &:hover {
            color: $color-accent-100;
            cursor: pointer;
        }
    }

    .topbar-menu-link:nth-child(-n+5) {
        margin-right: 32px;
    }

    .topbar-right {
        display: flex;
        flex: 2;
        justify-content: flex-end;

        i {
            font-size: 36px;
            display: none;
        }
    }

    .container {
        display: flex;
        padding-right: 100px;
        padding-left: 100px;
    }

    .topbar-left {
        display: flex;
        flex: 1;
        justify-content: flex-start;
        align-items: center;
    }

    .topbar-logo-mobile {
        display: none;
        height: 34px;
        width: 34px;
        img {
            width: 100%;
            height: auto;
        }
    }

    .topbar-logo-screen {
        max-height: 22px;
        max-width: 204px;

        img {
            height: auto;
            width: 100%;
        }
    }

    // RESPONSIVE ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include laptop-large {
        .topbar-item {
            height: 18px;
        }
    }

    @include tablet-large {
        .topbar-right {
            i {
                display: block;
            }

            .topbar-item {
                display: none;
            }
        }

        .topbar-logo-screen {
            display: none;
        }
        .topbar-logo-mobile {
            display: block;
        }

        .container {
            padding-right: 50px;
            padding-left: 50px;
        }
    }

}