html {
    scroll-behavior: smooth;
}

body {
    font-family: Lato;
}

.container {
    width: 100%;
    max-width: 1600px;
    box-sizing: content-box;
    margin-left: auto;
    margin-right: auto;
}

* ::selection {
    background: #006AD8;
    color: #ffffff;
}