// main colors 
$primary-color:#214536;
$secondary-color: #2ea3f2;
$tertiary-color:#24473D;
//color-accents
$color-accent-100:#ADADAD;
$color-accent-200:#a3a3a3;
$color-accent-300:#777777;
$color-accent-600:#111111;
$color-accent-700:#15171c;
//color-decoration
$color-decoration-100:#f4c59f;
$color-decoration-200:#a3b09f;